.details img{
overflow: hidden;
height: 280px;
width: 240px;
}

.details{
    display: flex;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.details h3{
    font-size: 20px;
    color: #ff5722;
    margin: 0px;
}

.details p{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    color: #1a1a1a;
}

.colored{
    color: blue;
}

.biography{
    margin-top: 48px;
    margin-right: 80px;
    margin-left: 80px;
    color: #1a1a1a;
    margin-bottom: 48px;
}

dl{
    display: flex;
    flex-direction: column;
    max-width: 920px ;
    margin: auto;
}

dt{
    color:blue;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 8px;
}

dd{
    margin-left: 0px;
}

#identifier{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

#identifier a{
    text-decoration: none;
    color: #ff5722;
}

#identifier a:hover{
    color: #ff906e;
}