h3{
    margin: 40px;
    font-size: 24px;
    justify-content: center;
    display: grid;
    color: #ff5722;
}

h1{
    margin: 40px;
    font-size: 20px;
    justify-content: center;
    display: grid;
    color: #1a1a1a;
    margin-left: 80px;
    margin-right: 80px;
}

.images, audio{
    display: block;
    max-width: 60%;
    margin: 0 auto;
}

video{
    max-width: 60%;
    height: auto;
    display: block;
    margin: 20px auto;
}
